@model IEnumerable<IdentityExtension.Models.EquipmentProcurement>

@{
    ViewData["Title"] = "Index";
    ViewData["Nav"] = "nav";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Procurement.equipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procurement.make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procurement.model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procurement.rlRef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procurement.qtyOrdered)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procurement.qtyApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procurement.lastPurchasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procurement.remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procurement.userId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procurement.cDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fileRef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proDistribution)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Procurement.equipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Procurement.make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Procurement.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Procurement.rlRef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Procurement.qtyOrdered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Procurement.qtyApproved)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Procurement.lastPurchasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Procurement.remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Procurement.userId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Procurement.cDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fileRef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.proDistribution)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
