@model IEnumerable<IdentityExtension.Models.SpareProcurement>

@{
    ViewData["Title"] = "Index";
    ViewData["Nav"] = "nav";
}
<div class="container">
    <div class="card-group">
        <div class="row">
            <div class="card col-md-2 equip-col"></div>
            <div class="card col-md-8 equip-col"><h2 class="head_title">Spare Equipment Procurement Details</h2></div>
            <div class="card col-md-2 equip-col back-btn">
                <a asp-controller="ProcurementManagement" asp-action="Index">
                    <img src="~/images/back2.png" alt="..." class="img-thumbnail equip-back">
                </a>
            </div>
        </div>
    </div>
</div>
<hr />
<table class="equip_table_admin table table-striped">
    <thead>
        <tr>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.Procurement.make)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.Procurement.model)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.partNo)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.Procurement.rlRef)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.sbRef)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.Procurement.qtyOrdered)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.Procurement.qtyApproved)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.Procurement.lastPurchasePrice)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.currentStock)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.firstRate)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.secondRate)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.thirdRate)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.forthRate)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.Procurement)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.Procurement.remarks)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="eq_td_admin">
                    @Html.DisplayFor(modelItem => item.Procurement.make)
                </td>
                <td class="eq_td_admin">
                    @Html.DisplayFor(modelItem => item.Procurement.model)
                </td>
                <td class="eq_td_admin">
                    @Html.DisplayFor(modelItem => item.partNo)
                </td>
                <td class="eq_td_admin">
                    @Html.DisplayFor(modelItem => item.Procurement.rlRef)
                </td>
                <td class="eq_td_admin">
                    @Html.DisplayFor(modelItem => item.sbRef)
                </td>
                <td class="eq_td_admin">
                    @Html.DisplayFor(modelItem => item.Procurement.qtyOrdered)
                </td>
                <td class="eq_td_admin">
                    @Html.DisplayFor(modelItem => item.Procurement.qtyApproved)
                </td>
                <td class="eq_td_admin">
                    @Html.DisplayFor(modelItem => item.Procurement.lastPurchasePrice)
                </td>
                <td class="eq_td_admin">
                    @Html.DisplayFor(modelItem => item.currentStock)
                </td>
                <td class="eq_td_admin">
                    @Html.DisplayFor(modelItem => item.firstRate)
                </td>
                <td class="eq_td_admin">
                    @Html.DisplayFor(modelItem => item.secondRate)
                </td>
                <td class="eq_td_admin">
                    @Html.DisplayFor(modelItem => item.thirdRate)
                </td>
                <td class="eq_td_admin">
                    @Html.DisplayFor(modelItem => item.forthRate)
                </td>
                <td class="eq_td_admin">
                    @Html.DisplayFor(modelItem => item.Procurement.id)
                </td>
                <td class="eq_td_admin">
                    @Html.DisplayFor(modelItem => item.Procurement.remarks)
                </td>
            </tr>
        }
    </tbody>
</table>
