@model IEnumerable<IdentityExtension.Models.EquipmentProcurement>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fileRef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proDistribution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procurement)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fileRef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.proDistribution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Procurement.id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
