@model IdentityExtension.Models.Gps

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Gps</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateInstalled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateInstalled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateModified)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateModified)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pfileNum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pfileNum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.pfileDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.pfileDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.weDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.weDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Equipment.srNo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
