@model IEnumerable<IdentityExtension.Models.FuelBillAccount>

@{
    ViewData["Title"] = "Index";
    ViewData["Nav"] = "nav";
}

<div class="container">
    <div class="card-group">
        <div class="row">
            <div class="card col-md-2 equip-col"></div>
            <div class="card col-md-8 equip-col"><h2 class="head_title">Fuel Bill Account Details</h2></div>
            <div class="card col-md-2 equip-col back-btn">
                <a asp-controller="FuelBill" asp-action="FuelBillAccount">
                    <img src="~/images/back2.png" alt="..." class="img-thumbnail equip-back">
                </a>
            </div>
        </div>
    </div>
</div>
<hr />
<table class="equip_table_admin table table-striped">
    <thead>
        <tr>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.baseId)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.subUnitId)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.accountNumber)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.active)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.createdDate)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.userId)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.FuelBillType)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th class="eq_th_admin"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="eq_th_admin">
                    @ViewBag.baseNew[item.billAccId]
                    @*@Html.DisplayFor(modelItem => item.Area.Bases.Where(a => a.id.ToString().Equals(item.baseId.ToString())))*@
                </td>
                <td class="eq_th_admin">
                    @if (ViewBag.subNew != null) { @ViewBag.subNew[item.billAccId] }
                    @*@Html.DisplayFor(modelItem => item.subUnitId)*@
                </td>
                <td class="eq_th_admin">
                    @Html.DisplayFor(modelItem => item.accountNumber)
                </td>
                <td class="eq_th_admin">
                    @Html.DisplayFor(modelItem => item.active)
                </td>
                <td class="eq_th_admin">
                    @Html.DisplayFor(modelItem => item.createdDate)
                </td>
                <td class="eq_th_admin">
                    @Html.DisplayFor(modelItem => item.userId)
                </td>
                <td class="eq_th_admin">
                    @Html.DisplayFor(modelItem => item.FuelBillType.description)
                </td>
                <td class="eq_th_admin">
                    @Html.DisplayFor(modelItem => item.Area.description)
                </td>
                <td class="eq_th_admin">
                    <a asp-action="Edit" asp-route-id="@item.billAccId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.billAccId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.billAccId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
