@model IEnumerable<IdentityExtension.Models.Base>

@{
    ViewData["Title"] = "Index";
    ViewData["Nav"] = "nav";
}

<div class="container">
    <div class="card-group">
        <div class="row">
            <div class="card col-md-2 equip-col"></div>
            <div class="card col-md-8 equip-col"><h2 class="head_title">Base Details</h2></div>
            <div class="card col-md-2 equip-col back-btn">
                <a asp-controller="BaseManagement" asp-action="Index">
                    <img src="~/images/back2.png" alt="..." class="img-thumbnail equip-back">
                </a>
            </div>
        </div>
    </div>
</div>
<hr />

<p>
    <a asp-controller="Base" asp-action="Create" class="btn btn-info">Create New</a>
</p>
<table class="equip_table_admin table table-striped">
    <thead>
        <tr>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.code)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.remCd)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.payBase)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.baseType)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th class="eq_th_admin">
                @Html.DisplayNameFor(model => model.ShipType)
            </th>
            <th class="eq_th_admin"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="eq_th_admin">
                    @Html.DisplayFor(modelItem => item.code)
                </td>
                <td class="eq_th_admin">
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td class="eq_th_admin">
                    @Html.DisplayFor(modelItem => item.remCd)
                </td>
                <td class="eq_th_admin">
                    @Html.DisplayFor(modelItem => item.payBase)
                </td>
                <td class="eq_th_admin">
                    @Html.DisplayFor(modelItem => item.baseType)
                </td>
                <td class="eq_th_admin">
                    @Html.DisplayFor(modelItem => item.Area.description)
                </td>
                <td class="eq_th_admin">
                    @Html.DisplayFor(modelItem => item.ShipType.description)
                </td>
                <td class="eq_th_admin">
                    <a class="edit" asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a class="delete" asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
